section {
    width: 100%;
    height: 100px;
    background: burlywood;
    position: relative;
    overflow: hidden;
}
.vaiz {
    color: aqua;
    font-size: 34px;
    animation: moveText 10s linear infinite;
    bottom: 50px;
}
@keyframes moveText {
    from {
        transform: translateX(100%);
    }
}
 to{
    transform: translateX(-50%);
 }